*{
    font-family: 'fubutra';
}


#main-banner h1 {
    font-size: 3rem;
    margin-top: 20px;
}

/* Stats Section */
#stats h3 {
    font-size: 65px;
    color: #00d779;
    font-weight: 500;
    margin: 0;
}

#stats p {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
}

/* Features Section */
#features .image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#features .image-container img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

#features .overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
   
    color: white;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: flex-start;
    height: 100%;
}

#features .overlay h5, #features .overlay p {
    margin: 0;
}

#features .overlay h5 {
    font-family: 'fubutra';
    margin-top: 0.5rem;
    font-size: 25px;
    color: #00d779;
    font-weight: 500;
}

#features .overlay p {
    font-size: 15px;
    font-weight: 400;
}


#features .image-container:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}
